name: Deploy MkDocs Site

on:
  push:
    branches:
      - main  # или другая основная ветка
  # workflow_dispatch:  # ручная активация через интерфейс GitHub

jobs:
  build:
    name: Deploy docs
    runs-on: ubuntu-latest
    steps:
      - name: Checkout master
        uses: actions/checkout@v1

      - name: Deploy docs
        uses: mhausenblas/mkdocs-deploy-gh-pages@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          REQUIREMENTS: requirements.txt
